.hero {
  height: 88vh;
  background-image: url(../../assets/tech-background-xdu49vuttrb7vyq3_cropped.jpg);
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 48px;
  font-style: italic;
  color: rgb(141, 144, 142);
  transform: translateY(-30px);
}

.hero p {
  font-weight: 700;
  color: rgb(116, 117, 116);
  transform: translate(30px, -30px);
  /* transform: translateX(30px); */
}

.shopBtn {
  padding: 9px 24px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.521);
  border-radius: 8px;
  border: none;
  cursor: pointer;

  transition: ease-in 100ms;
}

.shopBtn:hover {
  background-color: rgba(0, 0, 0, 0.774);
}
