/* src/pages/contact/ContactPage.css */
.contact-page {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.contact-page h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: #333;
}

.contact-page p {
  margin-bottom: 1.5rem;
  line-height: 1.6;
  color: #555;
}

.contact-form {
  margin-bottom: 2rem;
}

.contact-form div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 12px;
}

.contact-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #333;
}

.contact-form input,
.contact-form textarea {
  width: 70%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;

  transition: ease-in 100ms;
}

.contact-form button:hover {
  background-color: #0056b3;
}

.thank-you-message {
  text-align: center;
  padding: 2rem;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-info {
  padding: 1rem;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;

  width: 50%;
}

.contact-info h2 {
  font-size: 28px;
  margin-bottom: 1rem;
  color: #007bff;
}

.contact-info p {
  margin-bottom: 16px;
  font-size: 13px;
}

.down-section {
  display: flex;
  gap: 20px;
}

.google-map {
  width: 600px;
  height: 400px;
}
