.productList {
  display: flex;
  padding: 32px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.addBtn {
  font-size: 16px;
  font-weight: 600;
  margin: 10px auto;

  padding: 12px 32px;
  cursor: pointer;
  border: 1px solid #7f7f7f;
  border-radius: 8px;

  color: #fff;
  background-color: rgba(0, 0, 0, 0.521);

  transition: ease-in 100ms;
}

.addBtn:hover {
  background-color: rgba(0, 0, 0, 0.721);
}
